* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    height: 100%;
    background-color: #C3F8FF;
    position: relative;
}

.navbar {
    position: absolute;
    inset: 0 0 auto 0;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
}

.help {
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    flex: 1;
    margin-bottom: 20px;
    font-size: 80px;
    font-family: Arial, san-serif;
}

.btn {
    width: 200px;
    text-align: center;
    padding: 10px 20px;
    background-color: #333;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    background-color: #8758FF;
    transition: .3s;
}

.btn:hover {
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 0 0 #5CB8E4;
}

.btn:active {
    transform: translate(0px, 0px);
    box-shadow: 0 0 10px 0 #8758FF;
}

.btn.active {
    background-color: #B1B2FF;
}

.spacer {
    width: 20px;
    height: 20px;
}

#japanese {
    background-color: #fff;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    transition: .3s;
}

#japanese:hover {
    box-shadow: 5px 5px 0 0 #333;
}

#lattin {
    font-size: 30px;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
}

.overlay {
    position: absolute;
    inset: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    visibility: hidden;
}

.overlay.open {
    visibility: visible;
}

.modal-bg {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    inset: 0 0 0 0;
    display: none;
}

.overlay.open>.modal-bg {
    display: block;
}

.modal {
    background-color: #C3F8FF;
    border-radius: 20px;
    width: 60%;
    height: 80%;
    overflow: auto;
    transform: scale(.6);
    transition: .3s;
    opacity: 0;
    z-index: 2;
}

.overlay.open>.modal {
    transform: scale(1);
    opacity: 1;
}

#close-btn {
    padding: 10px 20px 0px 20px;
    text-align: right;
    font-size: 32px;
    cursor: pointer;
    user-select: none;
    margin-bottom: -50px;
}

.flex {
    display: flex;
}

.heading {
    font-size: 20px;
    padding: 20px;
    font-weight: 600;
}

.circle-avatar {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-bottom: 10px;
}

.content {
    padding: 5px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: .3s;
}

.content:hover {
    font-weight: bold;
}


/* Responsive */
@media screen and (max-width: 860px) {
    .action {
        flex-wrap: wrap;
    }

    .btn {
        width: 180px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 420px) {
    .action {
        display: flex;
        flex-direction: column;
    }

    .btn {
        padding: 24px 80px;
        width: 100%;
        margin-bottom: 0;
    }

    #japanese {
        font-size: 140px;
        margin-bottom: 10px;
    }

    #lattin {
        font-size: 60px;
        margin-bottom: 20px;
    }

    .modal {
        width: 100%;
        height: 100%;
    }

    .spacer {
        height: 15px;
    }
}

@media screen and (max-width: 376px) {
    .btn {
        padding: 15px 60px;
        width: 100%;
        margin-bottom: 0;
    }

    #japanese {
        font-size: 100px;
    }

    #lattin {
        font-size: 40px;
    }

}